{
  "tabWidth": 2,
  "semi": true,
  "bracketSameLine": false,
  "printWidth": 80,
  "singleQuote": true,
  "singleAttributePerLine": true,
  "vueIndentScriptAndStyle": false,
  "trailingComma": "none"
}
